export MONGODB_SERVER_URI=
export MONGODB_DATABASE_NAME=monsta
export REACT_APP_MONSTA_APP_REDIRECT_URL="http://localhost:3000/"
export REACT_APP_MONSTA_SERVER_URL="http://localhost:8080"
export REACT_APP_STITCH_APP_ID=
export CLOUDINARY_CLOUD_NAME=
export CLOUDINARY_API_KEY=
export CLOUDINARY_API_SECRET=
export REACT_APP_CLOUDINARY_IMAGE_URL=